.hero{
    background: green;
    height: 100vh;
    background-image: linear-gradient(#3B86DC, #182B42);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: white;
    font-size: calc(20px + 2vw);
    font-weight: 400;
}

h1 span{
    font-weight: 700;
}