.orb{
    margin-bottom: 20px;
}

.orb-icon{
    height: 46px;
    width: 46px;
    border-radius: 50px;
    display: inline-block;
    border: 1px solid white;
}

.orb-icon img{
    margin-top: 11px;
    margin-left: 11px;
}

.orb .orb-text{
    height: 45px;
    line-height: 45px;
    vertical-align: bottom;
    margin-left: 20px;
    display: inline-block;
    font-weight: 700;
    color: white;
    font-size: 14px;
}