nav{
    width: calc(100% - 30px);
    padding: 15px;
    overflow: hidden;
    position: fixed;
    z-index: 100;
}

nav img{
    float: left;
    margin-top: 3px;
    margin-left: 10px;
}

nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    float: right;
    margin-right: 5px;
}

nav ul li {
    display: inline-block;
    margin: 5px 15px;
    font-size: 14px;
    color: white;
    font-weight: 700;
}

.scrolled{
    background-color: #2d2d2d !important;
    transition: background-color 100ms linear;
}