@import url(https://fonts.googleapis.com/css?family=Raleway:200,400,700,800);

body{
  font-family: Raleway;
}

.App{
  position: absolute;
  right: 0px;
  left: 0px;
}

.sections{
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 0;
}